main, .difficultySelectParent, .gridSizeOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.gridSquare {
    display: inline-block;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    margin-right: 4px;
}

.difficultyOptions {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.difficultySlider {
    -webkit-appearance: none;
    width: 250px;
    height: 20px;
    background: white;
    direction: rtl;
}

.difficultySlider::-webkit-slider-runnable-track {
    border: 1px solid black;
}

.difficultySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: black;
    cursor: pointer;
}
